<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="WebServiceMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="AppiumCapsMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="DatabaseMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="EmailMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="SeleniumMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <MagenicMaqs>
    <add key="WaitTime" value="1000" />
    <add key="Timeout" value="10000" />

    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
    <add key="Log" value="YES" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="VERBOSE" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!--Where the log file is saved-->
    <!--<add key="FileLoggerPath" value="C:\Frameworks\" />-->
  </MagenicMaqs>
  <DatabaseMaqs>
    <!--<add key="DataBaseProviderType" value="SQLSERVER" />
    <add key="DataBaseConnectionString" value="Data Source=qasqlserver.database.windows.net;Initial Catalog=MagenicAutomation;Persist Security Info=True;User ID=MagenicQA;Password=1magenicMARQ;Connection Timeout=30" />   
    <add key="DataBaseProviderType" value="POSTGRE" />
    <add key="DataBaseConnectionString" value="Server=127.0.0.1;Port=5432;Database=maqs;User Id=UserID;Password=TestPassword;" />    
    <add key="DataBaseProviderType" value="SQLITE" />
    <add key="DataBaseConnectionString" value="Data Source=PATH\TO\MyDatabase.sqlite;" />-->
    <add key="DataBaseProviderType" value="SQLSERVER" />
    <add key="DataBaseConnectionString" value="Data Source=qasqlserver.database.windows.net;Initial Catalog=MagenicAutomation;Persist Security Info=True;User ID=MagenicQA;Password=1magenicMARQ;Connection Timeout=30" />
  </DatabaseMaqs>
  <EmailMaqs>
    <!--IMAP connection settings-->
    <add key="EmailHost" value="imap.gmail.com" />
    <add key="EmailUserName" value="maqsbaseemailtest@gmail.com" />
    <add key="EmailPassword" value="Magenic3" />
    <add key="EmailPort" value="993" />
    <add key="ConnectViaSSL" value="Yes" />
    <add key="SkipSslValidation" value="Yes" />

    <!--Email attchement download folder-->
    <add key="AttachmentDownloadPath" value="C:\Frameworks\downloads" />

    <!-- Time-out in milliseconds -->
    <add key="EmailTimeout" value="10000" />
  </EmailMaqs>
  <SeleniumMaqs>
    <!--Local browser settings-->
    <!--<add key="Browser" value="Chrome"/>-->
    <!--<add key="Browser" value="Internet Explorer"/>-->
    <!--<add key="Browser" value="Firefox"/>-->
    <!--<add key="Browser" value="Edge"/>-->
    <add key="Browser" value="PhantomJS" />

    <!--Remote browser settings-->
    <!--<add key="Browser" value="REMOTE"/>-->
    <add key="RemoteBrowser" value="Chrome" />
    <add key="HubUrl" value="http://ondemand.saucelabs.com:80/wd/hub" />
    <add key="WebSiteBase" value="http://magenicautomation.azurewebsites.net/" />
    <add key="BrowserWaitTime" value="1000" />
    <add key="BrowserTimeout" value="20000" />
    <add key="SeleniumCommandTimeout" value="61000" />

    <!--Browser Resize settings-->
    <!--add key="BrowserSize" value="MAXIMIZE"/-->
    <!--add key="BrowserSize" value ="DEFAULT"/-->
    <add key="BrowserSize" value="DEFAULT" />

    <add key="SoftAssertScreenshot" value="Yes" />
    <add key="SavePagesourceOnFail" value="Yes" />
    <add key="ImageFormat" value="Jpeg" />
  </SeleniumMaqs>
  <WebServiceMaqs>
    <!-- Web service root -->
    <add key="WebServiceUri" value="http://magenicautomation.azurewebsites.net" />
    <!-- Time-out in milliseconds -->
    <add key="WebServiceTimeout" value="10000" />
  </WebServiceMaqs>
  <AppiumCapsMaqs>
    <add key="username" value="Partner_Magenic" />
    <add key="accessKey" value="***" />
    <add key="appiumVersion" value="1.7.1" />
    <add key="app" value="org.openintents.shopping" />
  </AppiumCapsMaqs>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11.121" newVersion="1.1.11.121" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>