<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="SeleniumMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="RemoteSeleniumCapsMaqs" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MagenicMaqs>
    <!--For configuration override tests-->
    <add key="OverrideTest" value="not overridden" />
    <add key="OverrideNUnitTest" value="not overridden" />

    <!-- Generic wait time in milliseconds - AKA how long do you wait for rechecking something -->
    <add key="WaitTime" value="1000" />

    <!-- Generic time-out in milliseconds -->
    <add key="Timeout" value="10000" />

    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
    <add key="Log" value="Yes" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="VERBOSE" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->
  </MagenicMaqs>
  <SeleniumMaqs>
    <!--Local browser settings-->
    <!--<add key="Browser" value="Chrome"/>-->
    <!--<add key="Browser" value="Internet Explorer"/>-->
    <!--<add key="Browser" value="Firefox"/>-->
    <!--<add key="Browser" value="Edge"/>-->
    <add key="Browser" value="HeadlessChrome" />

    <!--Remote browser settings-->
    <!--<add key="Browser" value="REMOTE"/>-->
    <add key="RemoteBrowser" value="Chrome" />
    <add key="HubUrl" value="https://ondemand.saucelabs.com/wd/hub" />
    <add key="WebSiteBase" value="https://magenicautomation.azurewebsites.net/" />
    <add key="BrowserWaitTime" value="1000" />
    <add key="BrowserTimeout" value="20000" />
    <add key="SeleniumCommandTimeout" value="61000" />

    <!--Browser Resize settings-->
    <!--add key="BrowserSize" value="MAXIMIZE"/-->
    <!--add key="BrowserSize" value ="DEFAULT"/-->
    <add key="BrowserSize" value="1024x768" />

    <add key="SoftAssertScreenshot" value="Yes" />
    <add key="SavePagesourceOnFail" value="Yes" />
    <add key="ImageFormat" value="PNG" />

    <add key="UseProxy" value="No" />
    <add key="ProxyAddress" value="http://localhost:8002" />
  </SeleniumMaqs>
  <RemoteSeleniumCapsMaqs>
    <add key="username" value="Sauce_Labs_Username" />
    <add key="accessKey" value="Sauce_Labs_Accesskey" />
  </RemoteSeleniumCapsMaqs>
</configuration>
