<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="MongoMaqs" type="System.Configuration.NameValueSectionHandler" />
    <!--<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <section name="MongoDBConnectionTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>-->
  </configSections>
  <MagenicMaqs>
  </MagenicMaqs>
  <MongoMaqs>
    <add key="MongoConnectionString" value="mongodb://localhost:27017" />
    <add key="MongoDatabase" value="MongoDatabaseTest" />
    <add key="MongoCollection" value="MongoTestCollection" />
    <add key="MongoTimeout" value="30" />
  </MongoMaqs>
</configuration>