<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Application Settings -->
    <add key="BundleID" value="org.tasks" />
    
    <!-- Device settings -->
	  <add key="MobileOSType" value="Android" />
    <!--<add key="MobileOSType" value="iOS" />-->
 
    <add key="DeviceUDID" value="0123456789abcdef0123456789abcdef01234567" />
    <add key="OSVersion" value="7.1.1" />
    <add key="DeviceName" value="Nexus 6P" />
    <add key="AVDName" value="Nexus-6P" />
    <add key="AppPath" value="/Users/magenicqa/Desktop/s-amazon-dev-debug.apk" />
    <add key="AppStartActivity" value="com.todoroo.astrid.activity.TaskListActivity" />
	
	  <add key="MobileBrowser" value="NO" />
    <!--<add key="MobileBrowser" value="YES" />-->
    
    <!-- Appium or grid connection -->
    <add key="MobileHubUrl" value="http://qat-win81-pc:4444/wd/hub" />

    <!-- Wait time in milliseconds - AKA how long do you wait for rechecking something -->    
    <add key="WaitTime" value="1000" />
	
    <!-- Time-out in milliseconds seconds -->   
    <add key="Timeout" value="10000" />

    <!-- Initialization Time-out in seconds -->
    <add key="AppiumCommandTimeout" value="122"/>

    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
    <add key="Log" value="OnFail" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="VERBOSE" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!--Where the log file is saved-->
    <!--<add key="FileLoggerPath" value="C:\Frameworks\" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
