<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RemoteSeleniumCapsMaqs" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <MagenicMaqs>
    <!--Local browser settings-->
    <add key="Browser" value="Chrome"/>
    <!--<add key="Browser" value="Internet Explorer"/>-->
    <!--<add key="Browser" value="Firefox"/>-->
    <!--<add key="Browser" value="Edge"/>-->
     <!--add key="Browser" value="PhantomJS"/-->
    
    <!--Remote browser settings-->
    <!--<add key="Browser" value="REMOTE"/>-->
    <add key="RemoteBrowser" value="Chrome"/>    
    <add key="HubUrl" value="http://ondemand.saucelabs.com:80/wd/hub"/> 
    <add key="WebSiteBase" value="http://magenicautomation.azurewebsites.net/"/>
    <add key="WaitTime" value="1000"/>
    <add key="Timeout" value="10000"/>

    <!--Browser Resize settings-->
    <!--add key="BrowserSize" value="MAXIMIZE"/-->
    <!--add key="BrowserSize" value ="DEFAULT"/-->
    <add key="BrowserSize" value="600x1600"/>

    <!-- Do you want to create logs for your test
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
    <add key="Log" value="Yes" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="VERBOSE" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!--Where the log file is saved-->
    <!--<add key="FileLoggerPath" value="C:\Frameworks\" />-->

    <add key="SoftAssertScreenshot" value="Yes"/>
    <add key="ImageFormat" value="Jpeg"/>
  </MagenicMaqs>
  <RemoteSeleniumCapsMaqs>
    <add key="username" value="Sauce_Labs_Username"/>
    <add key="accessKey" value="Sauce_Labs_Accesskey"/>
  </RemoteSeleniumCapsMaqs>
</configuration>