<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="EmailMaqs" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MagenicMaqs>
    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
    <add key="Log" value="OnFail" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="VERBOSE" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->

    <!--Retry and overall timeout in milliseconds-->
    <add key="WaitTime" value="1000" />
    <add key="Timeout" value="10000" />
  </MagenicMaqs>
  <EmailMaqs>
    <!--IMAP connection settings-->
    <add key="EmailHost" value="localhost" />
    <add key="EmailUserName" value="debug@localdomain.test" />
    <add key="EmailPassword" value="pass" />
    <add key="EmailPort" value="993" />
    <add key="ConnectViaSSL" value="Yes" />
    <add key="SkipSslValidation" value="Yes" />

    <!--Email attachment download folder-->
    <add key="AttachmentDownloadPath" value="/tmp/emailmaqsdownloads" />

    <!-- Time-out in milliseconds -->
    <add key="EmailTimeout" value="10000" />
  </EmailMaqs>
</configuration>
