<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <MagenicMaqs>
    
    <!--IMAP connection settings-->
    <add key="EmailHost" value="imap.gmail.com"/>
    <add key="EmailUserName" value="maqsbaseemailtest@gmail.com"/>
    <add key="EmailPassword" value="Magenic3"/>
    <add key="EmailPort" value="993"/>
    <add key="ConnectViaSSL" value="Yes"/>
    <add key="SkipSslValidation" value="Yes"/>

    <!--Email attchement download folder-->
    <add key="AttachmentDownloadPath" value="C:\Frameworks\downloads"/>

    <!--Retry and overall timeout in milliseconds-->
    <add key="WaitTime" value="1000"/>
    <add key="Timeout" value="10000"/>

    <!--Log settings-->
    <add key="FileLoggerPath" value="C:\Frameworks\"/>
    <add key="Log" value="Yes"/>
    <add key="LogType" value="TXT"/>
  </MagenicMaqs>
</configuration>