<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MagenicMaqs>
    <!-- Application Settings -->
    <!-- <add key="BundleID" value="com.magenic.appiumtester"/> -->
    
    <!-- Device settings -->
	<!-- <add key="MobileOSType" value="Android"/> -->
    <add key="MobileOSType" value="iOS" />
 
    <add key="DeviceUDID" value="0123456789abcdef0123456789abcdef01234567" />
    <add key="OSVersion" value="9.3" />
    <add key="DeviceName" value="iPhone 6s Plus" />
	
	<!--<add key="MobileBrowser" value="NO"/>-->
    <add key="MobileBrowser" value="YES" />
    
    <!-- Appium or grid connection -->
    <add key="MobileHubUrl" value="http://10.10.10.10:4444/wd/hub" />

    <!-- Wait time in milliseconds - AKA how long do you wait for rechecking something -->    
    <add key="WaitTime" value="1000" />
	
    <!-- Time-out in milliseconds seconds -->   
    <add key="Timeout" value="10000" />
	
    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO" />-->
    <add key="Log" value="OnFail"/>

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="INFORMATION" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->

  </MagenicMaqs>
</configuration>