<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Keep legacy config setting for testing purposes-->
  <appSettings>

    <!--For configuration override tests-->
    <add key="OverrideTest" value="not overridden" />
    <add key="OverrideNUnitTest" value="not overridden" />

    <!--Location of web service-->
    <add key="WebServiceUri" value="http://magenicautomation.azurewebsites.net" />

    <!--Where the log file is saved-->
    <add key="FileLoggerPath" value="C:\Frameworks\" />

    <!-- Do you want to create logs for your test
    <add key="Log" value ="OnFail"/>
    <add key="Log" value="yes"/>
    <add key="Log" value="no" /> -->
    <add key="Log" value="yes" />
    
    <!-- Logging Types
    <add key="LogType" value="rtf" />
    <add key="LogType" value="txt" />
    <add key="LogType" value="console" />-->
    <add key="LogType" value="txt" />

    <!-- WebService Timeouts in milliseconds - How long before the test times out -->
    <add key="WebServiceTimeout" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>