<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  

  <MagenicMaqs>
    <!-- Application Settings -->
    <add key="BundleID" value="org.tasks" />

    <!-- Device settings -->
    <add key="MobileOSType" value="Android" />
    <!--<add key="MobileOSType" value="iOS" />-->

    <add key="DeviceUDID" value="0123456789abcdef0123456789abcdef01234567" />
    <add key="OSVersion" value="7.1.1" />
    <add key="AVDName" value="Nexus-6P" />
    <add key="AppPath" value="/Users/magenicqa/Desktop/s-amazon-dev-debug.apk" />
    <add key="AppStartActivity" value="com.todoroo.astrid.activity.TaskListActivity" />

    <add key="MobileBrowser" value="NO" />
    <!--<add key="MobileBrowser" value="YES" />-->

    <!-- Device settings -->
    <add key="PlatformName" value="Android" />
    <add key="PlatformVersion" value="6.0" />
    <add key="DeviceName" value="Android GoogleAPI Emulator" />

    <!-- Appium or grid connection -->
    <add key="MobileHubUrl" value="http://ondemand.saucelabs.com:80/wd/hub" />

    <add key="DataBaseProviderType" value="SQLSERVER" />
    <add key="DataBaseConnectionString" value="Data Source=qasqlserver.database.windows.net;Initial Catalog=MagenicAutomation;Persist Security Info=True;User ID=MagenicQA;Password=1magenicMARQ;Connection Timeout=30" />

    <!--IMAP connection settings-->
    <add key="EmailHost" value="imap.gmail.com" />
    <add key="EmailUserName" value="maqsbaseemailtest@gmail.com" />
    <add key="EmailPassword" value="Magenic3" />
    <add key="EmailPort" value="993" />
    <add key="ConnectViaSSL" value="Yes" />
    <add key="SkipSslValidation" value="Yes" />

    <!--Email attchement download folder-->
    <add key="AttachmentDownloadPath" value="C:\Frameworks\downloads" />

    <!--Local browser settings-->
    <!--<add key="Browser" value="Chrome"/>-->
    <add key="Browser" value="PhantomJS" />

    <!-- Remote browser settings-->
    <!--<add key="Browser" value="REMOTE"/>-->
    <add key="RemoteBrowser" value="Chrome" />
    <add key="HubUrl" value="http://ondemand.saucelabs.com:80/wd/hub" />
    <add key="WebSiteBase" value="http://magenicautomation.azurewebsites.net/" />
    <add key="WaitTime" value="1000" />
    <add key="Timeout" value="10000" />

    <!--Location of web service-->
    <add key="WebServiceUri" value="http://magenicautomation.azurewebsites.net" />

    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
    <add key="Log" value="YES" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="VERBOSE" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!--Where the log file is saved-->
    <!--<add key="FileLoggerPath" value="C:\Frameworks\" />-->

    <!--WebService Timeouts in milliseconds - How long before the test times out-->
    <add key="WebServiceTimeout" value="10" />
  </MagenicMaqs>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11.121" newVersion="1.1.11.121" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow></configuration>