<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="RemoteSeleniumCapsMaqs" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <MagenicMaqs>

<!-- Appium specific settings-->
    <!-- Application Settings -->
    <!-- <add key="BundleID" value="com.magenic.appiumtester"/> -->
    
    <!-- Device settings -->    
    <!-- <add key="MobileOSType" value="Android"/> -->
    <add key="MobileOSType" value="iOS" />
    <add key="DeviceUDID" value="0123456789abcdef0123456789abcdef01234567" />
    <add key="OSVersion" value="9.3" />
    <add key="DeviceName" value="iPhone 6s Plus" />
    
    <!--<add key="MobileBrowser" value="NO"/>-->
    <add key="MobileBrowser" value="YES" />
    
    <!-- Appium or grid connection -->
    <add key="MobileHubUrl" value="http://10.10.10.10:4444/wd/hub" />
<!-- Appium specific settings end -->

<!-- Database specific settings-->
    <!-- Database connection -->
    <add key="DataBaseConnectionString" value="Data Source=qasqlserver.database.windows.net;Initial Catalog=TEST_DB;Persist Security Info=True;User ID=USER_ID;Password=USER_PASSWORD" />
<!-- Database specific settings end -->

<!-- Email specific settings -->
    <!--IMAP connection settings-->
    <add key="EmailHost" value="imap.PROVIDER.com" />
    <add key="EmailUserName" value="FAKENAME@PROVIDER.com" />
    <add key="EmailPassword" value="PASSWORD" />
    <add key="EmailPort" value="993" />
    <add key="ConnectViaSSL" value="Yes" />
    <add key="SkipSslValidation" value="Yes" />

    <!-- Download attachment path - Defaults to attachments folder under the build location if no value is defined
    <add key="AttachmentDownloadPath" value="C:\Frameworks\downloads"/>-->
<!-- Email specific settings end -->
    
<!-- Web service specific settings -->
    <!-- Web service root -->
    <add key="WebServiceUri" value="http://magenicautomation.azurewebsites.net" />
<!-- Web service specific settings end -->

<!-- Web site specific settings -->
    <!-- Root to website -->
    <add key="WebSiteBase" value="http://magenicautomation.azurewebsites.net/" />

    <!--Local browser settings
    <add key="Browser" value="Chrome"/>
    <add key="Browser" value="Internet Explorer"/>
    <add key="Browser" value="Firefox"/>
    <add key="Browser" value="PhantomJS"/>
    <add key="Browser" value="Edge"/> -->
    <add key="Browser" value="Chrome" />

    <!-- Web driver hint path override - This is the first place Maqs will try to find your web drive
    <add key="WebDriverHintPath" value="C:\Frameworks"/> -->

    <!-- Remote browser settings
    <add key="Browser" value="REMOTE"/>
    <add key="RemoteBrowser" value="Firefox"/>    
    <add key="HubUrl" value="http://localhost:4444/wd/hub"/> -->

    <!-- Extended remote browser settings - OS (xp, win7, win8, win8.1, win10, os x, os x 10.6, os x 10.8, os x 10.9, os x 10.10, os x 10.11, solaris, linux, android, +more)
    <add key="RemotePlatform" value="win7"/>-->

    <!-- Extended remote browser settings - Browser version
    <add key="RemoteBrowserVersion" value="44"/>-->
<!-- Web site specific settings end -->

<!--General settings-->
    <!-- Wait time in milliseconds - AKA how long do you wait for rechecking something -->    
    <add key="WaitTime" value="1000" />
    
    <!-- Time-out in milliseconds seconds -->   
    <add key="Timeout" value="10000" />
    
    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->   
    <add key="Log" value="OnFail" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="INFORMATION" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />
    
    <!-- Screenshot Image Formats
    <add key="ImageFormat" value="Bmp"/>
    <add key="ImageFormat" value="Gif"/>
    <add key="ImageFormat" value="Jpeg"/>
    <add key="ImageFormat" value="Png"/>
    <add key="ImageFormat" value="Tiff"/>-->
    <add key="ImageFormat" value="Png"/>

    <!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->
  </MagenicMaqs>
  <RemoteSeleniumCapsMaqs>
    <!-- Cloud based Grid settings
    <add key="username" value="Sauce_Labs_Username"/>
    <add key="accessKey" value="Sauce_Labs_Accesskey"/>
    <add key="browserName" value="Chrome"/>
    <add key="platform" value="OS X 10.11"/>
    <add key="version" value="54.0"/> -->
  </RemoteSeleniumCapsMaqs>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>