<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
    <section name="SeleniumMaqs" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RemoteSeleniumCapsMaqs" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <MagenicMaqs>
    <!-- Generic wait time in milliseconds - AKA how long do you wait for rechecking something -->
    <add key="WaitTime" value="1000" />

    <!-- Generic time-out in milliseconds -->
    <add key="Timeout" value="10000" />

    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
    <add key="Log" value="OnFail" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="INFORMATION" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT" />

    <!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->

    <!-- Use First Chance Handler - Defaults to enabled
    <add key="UseFirstChanceHandler" value="NO"/>
    <add key="UseFirstChanceHandler" value="YES"/>-->
  </MagenicMaqs>
  <SeleniumMaqs>
    <!-- Root to website -->
    <add key="WebSiteBase" value="http://magenicautomation.azurewebsites.net/" />

    <!--Local browser settings
    <add key="Browser" value="Chrome"/>
    <add key="Browser" value="HeadlessChrome"/>
    <add key="Browser" value="Internet Explorer"/>
    <add key="Browser" value="Firefox"/>
    <add key="Browser" value="PhantomJS"/>
    <add key="Browser" value="Edge"/> -->
    <add key="Browser" value="Chrome" />

    <!--Browser Resize settings
    <add key="BrowserSize" value ="MAXIMIZE"/>
    <add key="BrowserSize" value="DEFAULT"/>
    <add key="BrowserSize" value="600x1600"/>-->
    <add key="BrowserSize" value="MAXIMIZE"/>

    <!-- Web driver hint path override - This is the first place Maqs will try to find your web drive 
    <add key="WebDriverHintPath" value="C:\Frameworks"/>-->

    <!-- Remote browser settings - RemoteBrowser can be any standard browse; such as IE, Firefox, Chrome, Edge or Safari
    <add key="Browser" value="REMOTE"/> -->
    <add key="RemoteBrowser" value="Chrome"/>
    <add key="HubUrl" value="http://localhost:4444/wd/hub"/>

    <!-- Extended remote browser settings - OS (xp, win7, win8, win8.1, win10, os x, os x 10.6, os x 10.8, os x 10.9, os x 10.10, os x 10.11, solaris, linux, android, +more)-->
    <!-- <add key="RemotePlatform" value="win7"/>-->

    <!-- Extended remote browser settings - Browser version-->
    <!-- <add key="RemoteBrowserVersion" value="44"/>-->

    <!-- Command Time-out in milliseconds -->
    <add key="SeleniumCommandTimeout" value="60000"/>

    <!-- Wait time in milliseconds - AKA how long do you wait for rechecking something -->
    <add key="BrowserWaitTime" value="1000" />

    <!-- Time-out in milliseconds -->
    <add key="BrowserTimeout" value="10000" />
    
        <!-- Do you want to take screenshots upon Soft Assert Failures
    <add key="SoftAssertScreenshot" value="YES"/>
    <add key="SoftAssertScreenshot" value="NO"/>-->
    <add key="SoftAssertScreenshot" value="NO"/>

    <!-- Screenshot Image Formats
    <add key="ImageFormat" value="Bmp"/>
    <add key="ImageFormat" value="Gif"/>
    <add key="ImageFormat" value="Jpeg"/>
    <add key="ImageFormat" value="Png"/>
    <add key="ImageFormat" value="Tiff"/>-->
    <add key="ImageFormat" value="Png"/>

    <!-- Do you want to save page source when a Soft Assert fails
    <add key="SavePagesourceOnFail" value="YES"/>
    <add key="SavePagesourceOnFail" value="NO"/> -->
    <add key="SavePagesourceOnFail" value="NO"/>

    <!-- Proxy options -->
    <add key="UseProxy" value="No" />
    <add key="ProxyAddress" value="127.0.0.1:8080" />
  </SeleniumMaqs>
  <RemoteSeleniumCapsMaqs>
    <!-- Cloud based Grid settings
    <add key="username" value="Sauce_Labs_Username"/>
    <add key="accessKey" value="Sauce_Labs_Accesskey"/>
    <add key="browserName" value="Chrome"/>
    <add key="platform" value="OS X 10.11"/>
    <add key="version" value="54.0"/> -->
  </RemoteSeleniumCapsMaqs>
</configuration>