<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!-- If you are outside the Magenic domain you will need to update this path to where you are hosting the MAQS framework nuget package -->   
    <add key="intranet repository" value="\\magenic.net\FileShare\Installs\QA Tools\" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>