<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MagenicMaqs>

    <!--For configuration override tests-->
    <add key="SimpleOverride" value="simple" />
    <add key="Override" value="base" />
    <add key="Override2" value="base2" />
    <!---->
    
    <add key="WaitTime" value="100" />
    <add key="Timeout" value="1000" />
    <add key="FileLoggerPath" value="C:\Frameworks\" />
    <add key="WebServiceUri" value="http://magenicautomation.azurewebsites.net" />
  </MagenicMaqs>
  <appSettings>

    <!--Location of web service-->
    <add key="WebServiceUri" value="http://magenicautomation.azurewebsites.net" />
    
    <!--Where the log file is saved-->
    <add key="FileLoggerPath" value="C:\Frameworks\" />
   
    <!-- Do you want to create logs for your test
    <add key="Log" value ="OnFail"/>
    <add key="Log" value="yes"/>
    <add key="Log" value="no" /> -->
    <add key="Log" value="yes" />

    <!-- Logging Types
    <add key="LogType" value="rtf" />
    <add key="LogType" value="txt" />
    <add key="LogType" value="console" />-->
    <add key="LogType" value="txt" />

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="VERBOSE" />

    <!--WebService Timeouts in milliseconds - How long before the test times out-->
     <add key="WebServiceTimeout" value="10" />
 </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>