<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <MagenicMaqs>
    <add key="FileLoggerPath" value="C:\Framework\"/>
    <add key="Log" value="no"/>
    <add key="LogType" value="txt"/>
    <add key="DataBaseConnectionString" value="Data Source=qasqlserver.database.windows.net;Initial Catalog=MagenicAutomation;Persist Security Info=True;User ID=MagenicQA;Password=1magenicMARQ;Connection Timeout=30"/>
  </MagenicMaqs>
  <appSettings>
    <!--Keep this to make sure we are using the new MagenicMaqs section-->
    <add key="DataBaseConnectionString" value="OldBadSetting"/>
  </appSettings>
</configuration>