<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <MagenicMaqs>
    <!--IMAP connection settings-->
    <add key="EmailHost" value="imap.PROVIDER.com"/>
    <add key="EmailUserName" value="FAKENAME@PROVIDER.com"/>
    <add key="EmailPassword" value="PASSWORD"/>
    <add key="EmailPort" value="993"/>
    <add key="ConnectViaSSL" value="Yes"/>
    <add key="SkipSslValidation" value="Yes"/>

    <!-- Download attachment path - Defaults to attachments folder under the build location if no value is defined
    <add key="AttachmentDownloadPath" value="C:\Frameworks\downloads"/>-->

	<!-- Wait time in milliseconds - AKA how long do you wait for rechecking something -->
    <add key="WaitTime" value="1000"/>

    <!-- Time-out in milliseconds seconds -->
    <add key="Timeout" value="10000"/>
	
    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->   
    <add key="Log" value="OnFail"/>

    <!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
    <add key="LogLevel" value="INFORMATION" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
    <add key="LogType" value="TXT"/>

    <!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->

  </MagenicMaqs>
</configuration>